# Virtual Environment
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env
*.env
**/.env
**/*.env

# Vector Stores (Chroma, FAISS caches/indices)
**/vector_store/
**/faiss_store/

# IDE / Editor Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
Thumbs.db
.DS_Store
