# Virtual Environment
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Vector Store (Chroma DB local cache/persistent directory)
data/vector_store/

# IDE / Editor Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
Thumbs.db
.DS_Store
